<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <br><small>Created by <%= @ticket.user.email %></small>
  <%= simple_format(@ticket.description) %>
</div>
<%= link_to 'Edit', edit_project_ticket_path(@project, @ticket) %>
<%= link_to 'Destory', project_ticket_path(@project, @ticket), method: :delete, data: {confirm: 'Are you sure?'} %>
